
build/cache/

build/downloads/

build/sstate-cache/

build/tmp/

build/bitbake.lock

build/bitbake-cookerdaemon.log

build/conf/sanity_info

build/conf/templateconf.cfg

meta-security

meta-jumpnow

meta-rpi

jumpnow_build
